/* CSS by Sophia Bergler*/

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* ///ADD/// CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Root Variables */
:root {
  --blue-bulletin: #1D3557;
  --news-flash: #E63946;
  --watchdog-white: #F1FAEE;
  --truth-text: #333;
  --story-subtitle: #457B9D;
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: 'Merriweather', serif;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;
}

/* Manual Light/Dark Mode Styles*/
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}
body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}
#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  border-radius: 1.5rem;
  cursor: pointer;
}

/* ///ADD/// Skip Link Styles --------------------------------------------*/
.skip-link {
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.skip-link a:focus {
  position: static;
  width: auto;
  height: auto;
}

/* ///ADD/// Navigation Styles -------------------------------------------------------------*/

nav {
  text-align: center;
  padding-bottom: 15px;
}

nav a {
  text-decoration: none;
  color: var(--watchdog-white);
  background-color: var(--news-flash);
  transition:  0.4s ease;
  padding: 3px;
  margin: 1px 0;
  font-weight: 600;
}

nav a:hover {
  background-color: var(--blue-bulletin);
  border: 2px solid var(--news-flash);
}

.menu-button {
  background-color: var(--news-flash);
  padding: 5px 3px;
  margin: 1px 0;
  font-weight: 600;
}

.menu {
  display: none;
  flex-direction: column;
  list-style: none;
}

.menu li a, .menu-button{
  display: block;
  width: 100%;
}

#menu-toggle:checked + .menu-button + .menu {
  display: flex;
}


/* ///ADD/// Global Layout Styles-------------------------------------------------------*/

#footer-content, #main, #header-content { /*default small size attempt with background disruption*/
  padding: 0 30px;
}

header {
  background-color: var(--blue-bulletin);
}


form {
  background-color: var(--news-flash);
}

.my-video1  {
  background-color: var(--news-flash);
  padding: 20px;
  margin:  10px 0;
}

.my-video2  {
  background-color: var(--news-flash);
  padding: 20px;
  margin: 10px 0;
}

.both-vids h3 {
  border-bottom: 2px solid var(--watchdog-white);
  padding: 8px 0;
}

.both-vids p{
  padding: 8px 0;
}

.both-vids {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

video {
  display: block;
  width: 100%;
  height: auto;
}

footer{
  background-color: var(--blue-bulletin);
}

.my-social-links {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 30px 0;
}

.my-social-links a {
  display: flex;
  background-color: var(--news-flash);
  padding: 20px 10px;
  border-color: var(--news-flash);
  transition:  0.4s ease;
  
}

.my-social-links a:hover{
  background-color: var(--blue-bulletin);
  border: 2px solid var(--news-flash);
}

footer h2 {
  padding-top: 30px;
}

footer p {
padding-top: 10px;
padding-bottom: 20px;
}

/* ///ADD/// Global Text Styles---------------------------------------------------------*/

h1 {
  font-size: 3.7rem;
}

h2 {
  font-size: 2.7rem;
}

h3 {
  font-size: 2.0rem;
}

p, .menu-button, nav a {
  font-size: 1.3rem;
}

header {
  color: var(--watchdog-white);
}

header h1{
  padding: 10px 0;
}

header p{
  padding-bottom: 10px;
}

.my-video1{
  color: var(--watchdog-white);
}

.my-video2 {
  color: var(--watchdog-white);
}

.my-social-links a{
  text-decoration: none;
  color: var(--watchdog-white);
}

.my-social-links a{
  font-size: 1.1rem;
  font-weight: 600;
}

footer {
  color: var(--watchdog-white);
  text-decoration: none;
}

footer p {
  text-align: center;
}


/* ///ADD/// medium styles 620px------------------------------------------- */
@media screen and (min-width: 620px) {
  #footer-content, #main, #header-content{
    padding: 0 40px;
  }

  .both-vids {
    grid-template-columns: 1fr 1fr;
  }

  .menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: center;
  }

  .menu-button, #menu-toggle {
    display: none;
  }

  .menu li a {
    display: inline-block;
    padding: 10px 5px;
  }


  nav {
    text-align: left;
  }
  
}


/* ///ADD/// large styles 920px -----------------------------------------------*/
@media screen and (min-width: 920px) {
  #footer-content, #main, #header-content{
    max-width: 800px;
    margin: 0 auto;
  }

  .both-vids {
    grid-template-columns: 1fr 1fr;
  }

  .menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: center;
  }

  .menu-button, #menu-toggle {
    display: none;
  }

  .menu li a {
    display: inline-block;
    padding: 10px 5px;
  }


  nav {
    text-align: left;
  }
}


/* ///ADD/// x-large styles 1024px ------------------------------------------------------------*/
@media screen and (min-width: 1024px){
  #footer-content, #main, #header-content{
    max-width: 1700px;
    margin: 0 auto;
  }

  .both-vids {
    grid-template-columns: 1fr 1fr;
  }

  .menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: center;
  }

  .menu-button, #menu-toggle {
    display: none;
  }

  .menu li a {
    display: inline-block;
    padding: 10px 5px;
  }


  nav {
    text-align: left;
  }
}


/* ///ADD/// Interaction Queries for color scheme light and dark and motion preference */


/* ///ADD///  Feature Query for :has() that checks if the #menu-toggle is checked */
@supports (selector(:has(*))) {

}